@using OutlookTicketManager.Services
@inject SidebarStateService SidebarState
@implements IDisposable
@inherits LayoutComponentBase

<PageTitle>OutlookTicketManager</PageTitle>

<div class="page">
    <div class="sidebar @((SidebarState?.IsCollapsed == true) ? "collapsed" : "")">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        if (SidebarState != null)
        {
            SidebarState.OnChange += OnSidebarStateChanged;
        }
    }

    private void OnSidebarStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (SidebarState != null)
        {
            SidebarState.OnChange -= OnSidebarStateChanged;
        }
    }
}
